[Unit]
Description=Face Detection and Identification
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=/home/jwatte/detect
ExecStart=/home/jwatte/detect/run.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
